/* Eliminar la barra de desplazamiento visible manteniendo la funcionalidad de scroll */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Estilos para el contenedor de scroll */
.scrollbar-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
