---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";

const productos = await getCollection("productos");
---

<Layout title="Productos – Sunart BCN">
  <section class="px-4 py-8 max-w-6xl mx-auto">
    <h1 class="text-4xl font-serif text-brand mb-6">Productos</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      {productos.map(({ slug, data }) => <ProductCard slug={slug} {...data} />)}
    </div>
  </section>
</Layout>
