---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";

const productos = await getCollection("productos");
---

<Layout title="Productos – Sunart BCN">
  <section>
    <h1
      class="text-4xl font-serif text-brand-700 mb-6"
      transition:name="main-heading">Productos</h1
    >

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {productos.map(({ slug, data }) => <ProductCard slug={slug} {...data} />)}
    </div>
  </section>
</Layout>
