---
import { buttonVariants } from "./ui/button";
---

<div class="mb-16">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-serif text-brand-600"> Productos nuevos </h2>
  </div>

  <div class="relative bg-brand-700 rounded-2xl overflow-hidden">
    <div
      class="absolute inset-0 opacity-20 bg-[url('/images/tmp_banner-tienda.avif')] bg-cover bg-center"
    ></div>
    <div class="relative p-8 md:p-12 text-white">
      <h3 class="text-3xl md:text-4xl font-serif mb-4"
        >Descubre nuestra colección</h3
      >
      <p class="mb-6 max-w-lg"
        >Explora nuestra amplia gama de productos artesanales hechos con flores
        preservadas, perfectos para cualquier ocasión.</p
      >
      <a
        href="/productos"
        class={buttonVariants({
          variant: "default",
          size: "lg",
          className: "rounded-full px-8",
        })}
      >
        Explorar la tienda
      </a>
    </div>
  </div>
</div>
