---
import ProductCard from "./ProductCard.astro";
import { getCollection } from "astro:content";
import { buttonVariants } from "@/components/ui/button";

interface Props {
  columns?: number;
  className?: string;
}

const { className = "py-16 px-6" } = Astro.props;

const productos = await getCollection("productos");
const featuredProducts = productos.filter((product) => product.data.featured);
---

<section class={className}>
  <h2 class="text-3xl font-serif text-center mb-10">Productos destacados</h2>

  <div class="grid gap-8 max-w-6xl mx-auto grid-cols-1 lg:grid-cols-3">
    {
      featuredProducts.map(({ slug, data }) => (
        <ProductCard slug={slug} {...data} />
      ))
    }
  </div>

  <div class="text-center mt-8">
    <a
      href="/productos"
      class={buttonVariants({
        variant: "brand",
      })}
    >
      Ver todos los productos
    </a>
  </div>
</section>
