---
import "@fontsource/abeezee";
import "@fontsource-variable/bitter";
import "@/styles/global.css";
import { buttonVariants } from "@/components/ui/button";
import { ModeToggle } from "@/components/ModeToggle";
import { ClientRouter } from "astro:transitions";
import { Separator } from "@/components/ui/separator";
import { Header } from "@/components/Header";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunart BCN</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <ClientRouter />
  </head>
  <body class="font-sans text-brand-900 bg-background">
    <Header client:load />
    <main
      transition:animate="slide"
      class="mx-auto max-w-6xl px-4 py-8 text-brand-900"><slot /></main
    >
    <footer class="text-brand-900 bg-brand-150 pb-4 pt-12 flex flex-col px-6">
      <Separator className="my-6 shadow-md" />
      <p class="mx-auto max-w-6xl w-full"
        >&copy; 2025 SunArtBcn · Hecho con 💖 en Barcelona</p
      >
    </footer>
  </body><script is:inline>
    // Función para aplicar el tema
    function applyTheme() {
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };
      const isDark = getThemePreference() === "dark";
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");
    }

    applyTheme();

    if (typeof localStorage !== "undefined") {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      });
    }

    document.addEventListener("astro:after-swap", () => {
      applyTheme();
    });
  </script>
</html>
