---
import "@fontsource/abeezee";
import "@fontsource-variable/bitter";
import "@/styles/global.css";
import { buttonVariants } from "@/components/ui/button";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunart BCN</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="font-sans text-gray-800">
    <header class="p-6 bg-white shadow-md flex justify-between items-center">
      <a
        href="/"
        class={buttonVariants({
          variant: "link",
          className: "text-2xl!",
        })}
      >
        Sunart BCN
      </a>
      <nav>
        <a href="/tienda" class={buttonVariants({ variant: "link" })}>Tienda</a>
        <a href="/sobre-mi" class={buttonVariants({ variant: "link" })}
          >Sobre mí</a
        >
        <a href="/contacto" class={buttonVariants({ variant: "link" })}
          >Contacto</a
        >
      </nav>
    </header>
    <main> <slot /></main>
    <footer class="bg-brand/20 text-center py-4 mt-12">
      <p>&copy; 2025 Sunart BCN · Hecho con 💖 en Barcelona</p>
    </footer>
  </body>
</html>
